@model IEnumerable<string>
@foreach (var notification in Model)
{
    <div class="alert alert-primary" role="alert">
        @notification
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}